<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/forgot-password.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%-include("../../views/partials/user/header")%>
   
     <!-- Main Content -->
     <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="left-side-img">
                    <img id="forgot-password-image" src="/images/signup logo.jpg" alt="">
                </div>
            </div>
            <div class="right-side">
                <div class="login-form">
                    <h4>Set a strong Password to keep your account secure. <br> Once done, You'll be ready to continue shopping <br> with ease!  </h4>
                    <h5>Enter Your new Password</h5>
                    <form id="forgotpasswordform" method="post" action="/change-password" >
                        <input type="password" name="password" id="password" placeholder="New Password"/>
                        <div id="error1" class="error-message"></div>
                        <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password"/>
                        <div id="error2" class="error-message"></div>
                        <div class="form-actions">
                            <button type="submit"  class="login-button">SUBMIT</button>
                            
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="/script/passwordReset.js"></script>
</body>
</html>

<%-include("../../views/partials/user/footer")%>

