body {
    background-color: #121212;
    color: white;
}

.table-dark {
    background-color: #1e1e1e;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-success {
    background-color: green;
    color: white;
}
.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 5px;
}


.pagination .page-link {
    background-color: #343a40;
    color: white;
    border: none;
}

.pagination .active .page-link {
    background-color: purple;
}
